@import '~@/components/button/button';

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: none;
  min-width: 288px;

  @include centered-width(true);

  &--show {
    display: flex;
    align-items: center;
  }
}

.modal__wrap {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 90%;
  padding: 0 64px;
  background-color: #232a3c;
  border: 1px solid #545b6b;
  border-radius: 4px;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -10;
    width: 100%;
    height: 100%;
    background-image: url(~@/public/img/noise.gif);
    transform: translate(-50%, -50%);
    opacity: 0.02;
  }

  @include mq-less-768 {
    max-height: 95%;
    padding: 0 16px;
  }
}

.modal__header {
  padding: 32px 0;
  text-align: center;
  border-bottom: 1px solid #33394a;

  @include mq-less-768 {
    padding: 24px 0;
  }
}

.modal__title {
  margin: 0;
  color: $main-text-color;
  font-weight: 400;
  font-size: 40px;
  font-family: 'Phosphate', sans-serif;
  letter-spacing: 3.6px;

  @include mq-less-768 {
    font-size: 24px;
    letter-spacing: 2.6px;
  }
}

.modal__subtitle {
  margin: 8px 0 0;
  color: $secondary-text-color;
  font-size: 20px;
  line-height: 1.2;

  @include mq-less-768 {
    font-size: 16px;
  }

  &--hidden {
    display: none;
  }
}

.modal__content {
  padding: 32px 0;
  overflow: auto;

  @include mq-less-768 {
    padding: 24px 0;
  }
}

.modal__footer {
  padding: 32px 0;
  text-align: right;
  border-top: 1px solid #33394a;

  @include mq-less-768 {
    padding: 24px 0;
  }
}
