mixin modal(title, content, mixes, btnName)
    .modal(class=`${mixes}__modal`)
        .modal__wrap
            .modal__header
                h5.modal__title!= title
            .modal__content!= content
            .modal__footer
                include ../../button/button
                +button(btnName, 'button', 'modal')