.small-header__title {
  font-family: 'Phosphate', sans-serif;
  font-size: 64px;
  color: $main-text-color;
  letter-spacing: 6px;
  text-align: center;
  margin: 200px 0 80px;

  @include mq-less-1024 {
    font-size: 48px;
    letter-spacing: 4.6px;
    margin-top: 152px;
  }

  @include mq-less-768 {
    margin-top: 132px;
    font-size: 26px;
    letter-spacing: 2.6px;
  }
}