section.order
    h3.order__title Потабачить
    p.order__subtitle Выберите чашу и наполнитель
    .order__price
        p.order__price-label Цена:
        p.order__price-sum 1500 руб.
        button.order__btn-add(type='button') Добавить еще одну чашу со скидкой 50%