@font-face {
  font-weight: 500;
  font-family: 'Montserrat';
  font-display: swap;
  font-style: normal;
  src: url(~@/assets/fonts/woff2/Montserrat-Medium.woff2) format('woff2'),
    url(~@/assets/fonts/woff/Montserrat-Medium.woff) format('woff'),
    url(~@/assets/fonts/ttf/Montserrat-Medium.ttf) format('truetype');
}

@font-face {
  font-weight: 900;
  font-family: 'Montserrat';
  font-display: swap;
  font-style: normal;
  src: url(~@/assets/fonts/woff2/Montserrat-Black.woff2) format('woff2'),
    url(~@/assets/fonts/woff/Montserrat-Black.woff) format('woff'),
    url(~@/assets/fonts/ttf/Montserrat-Black.ttf) format('truetype');
}

@font-face {
  font-weight: 400;
  font-family: 'Phosphate';
  font-display: swap;
  font-style: normal;
  src: url(~@/assets/fonts/woff2/Phosphate-Inline.woff2) format('woff2'),
    url(~@/assets/fonts/woff/Phosphate-Inline.woff) format('woff'),
    url(~@/assets/fonts/ttf/Phosphate-Inline.ttf) format('truetype');
}
