@font-face {
  font-family: 'Montserrat';
  src: url('./../../assets/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./../../assets/fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Phosphate';
  src: url('./../../assets/fonts/Phosphate-Inline.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}