{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "semi": ["error", "never"],
    "quotes": ["error", "single"],
    "no-var": "error",
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": "*",
        "next": "return"
      }
    ],
    "no-unused-vars": [
      "error",
      {
        "ignoreRestSiblings": true
      }
    ]
  },
  "extends": ["eslint:recommended"]
}
