-
    var items = [
        {
            title: 'Какой табак вы используете?',
            text: 'Мы используем только премиальный табак фирмы Fumari, на это есть две причины:' +
            '<br><br>' +
            'Во-первых, используя более дешевый табак, мы рискуем испортить вам впечатление от курения.' +
            '<br><br>' +
            'Во-вторых, зачастую люди, заказывая кальян, понятия не имеют о разнице в табаках, поэтому мы решили облегчить вам выбор и выбрали самый лучший с нашей точки зрения табак.'
        },
        {
            title: 'Можно ли продлить аренду?',
            text: 'Да. Возможны два варианта продления: ' +
            '<br><br>' +
            'Первый вариант – продление с новой чашей, в таком случае мы привозим вам новую чашу, стоимость продления составляет 100% от стоимости кальяна с новой чашей и наполнителем.' +
            '<br><br>' +
            'Второй вариант – продления без чаши, в таком случае кальян остается у вас еще на один день, вы можете раскуривать его со своим табаком, стоимость продления составляет 800 руб.'
        },
        {
            title: 'Что входит в набор?',
            text: 'В набор входит: ' +
            '<br><br>' +
            '– кальян' +
            '<br>' +
            '– настольная электрическая плита для розжига углей' +
            '<br>' +
            '– чаша' +
            '<br>' +
            '– калауд' +
            '<br>' +
            '– табак' +
            '<br>' +
            '– угли' +
            '<br>' +
            '– щипцы для углей'
        }
    ]

mixin faq
    section.faq
        h3.faq__title Частые вопросы
        ul.faq__list
            each item in items
                li.faq__item
                    .faq__item-top
                        h5.faq__item-title #{item.title}
                        span.faq__item-icon
                    p.faq__item-text !{item.text}