.faq {
  @include centered-width;
  margin-bottom: 80px;
  border-bottom: 1px solid #545B6B;

  @include mq-less-768 {
    margin-bottom: 64px;
  }
}

.faq__title {
  margin: 0 0 40px;
  color: $main-text-color;
  font-size: 48px;
  letter-spacing: 3.6px;
  text-align: center;

  @include mq-less-768 {
    font-size: 24px;
    letter-spacing: 2.6px;
  }
}

.faq__list {
  max-width: 800px;
  margin: 0 auto 80px;

  @include mq-less-768 {
    margin-bottom: 64px;
  }
}

.faq__item {
  padding: 24px 0;
  border-bottom: 1px solid #33394A;

  @include mq-less-768 {
    padding: 16px 0;
  }

  &:first-child {
    border-top: 1px solid #33394A;
  }

  &--open {

    .faq__item-title {
      color: $secondary-text-color;
    }

    .faq__item-icon {
      transform: rotate(45deg);
    }

    .faq__item-text {
      display: inline-flex;
    }
  }
}

.faq__item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &:hover {

    .faq__item-icon {

      &:before, &:after {
        background-color: #767D8C;
      }
    }
  }
}

.faq__item-title {
  flex: 1;
  margin: 0;
  color: $main-text-color;
  font-weight: 500;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;

  @include mq-less-768 {
    font-size: 18px;
  }
}

.faq__item-icon {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 8px;

  &:before, &:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    margin-top: calc(-2px / 2);
    background-color: #545B6B;
    border-radius: 4px;
    transition: all 200ms;
  }

  &:after {
    transform: rotate(90deg);
  }

  @include mq-less-768 {
    width: 32px;
    height: 32px;
  }
}

.faq__item-text {
  display: none;
  flex-basis: 100%;
  margin: 24px 0 0;
  padding-right: 72px;
  color: $main-text-color;
  line-height: 1.5;

  @include mq-less-768 {
    padding-right: 0;
    font-size: 16px;
  }
}