.big-header {
  @include centered-width;
  position: relative;
  height: 100vh;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #545B6B;
  box-sizing: content-box;

  @include mq-less-768 {
    margin-bottom: 64px;
  }
}

.big-header__title {
  font-size: 80px;
  letter-spacing: 6px;
  color: $main-text-color;
  margin: 0 0 16px;
  text-align: center;

  @include mq-less-1024 {
    letter-spacing: 4.6px;
  }

  @include mq-less-768 {
    font-size: 30px;
    letter-spacing: 2.6px;
  }
}

.big-header__subtitle {
  font-size: 32px;
  font-weight: 500;
  color: $secondary-text-color;
  margin: 0 0 48px;
  text-align: center;

  @include mq-less-768 {
    font-size: 18px;
  }
}

.big-header__btn {
  font-size: 20px;
  letter-spacing: 1.6px;
  color: $primary-text-color;
  text-transform: uppercase;
  background-color: #32846B;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  cursor: pointer;

  @include mq-less-768 {
    width: 100%;
  }
}

.big-header__arrow {
  position: absolute;
  bottom: 48px;
}