.menu {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;

  @include mq-less-768 {
    align-items: center;
    padding-top: 24px;
  }

  &--collapse {
    justify-content: center;
    height: calc(100vh - 24px);
    text-align: center;
    background-color: #232a3c;
    transition: none;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -20;
      width: 100%;
      height: 100%;
      background-image: url('../../assets/img/noise.gif');
      opacity: .02;
    }

    .menu__list {
      display: flex;
      flex-basis: 100%;
      flex-direction: column;
      margin-right: 0;
    }

    .menu__item {

      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 32px;
      }
    }

    .menu__link {
      font-size: 20px;
      letter-spacing: 1.6px;
      text-transform: uppercase;
    }

    .menu__feedback-link {
      display: flex;
    }
  }
}

.menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
  margin: 0 40px;

  @include mq-less-768 {
    flex-basis: 100%;
  }
}

.menu__list {
  margin-right: 40px;

  @include mq-less-768 {
    display: none;
  }
}

.menu__item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 32px;
  }
}

.menu__link {
  font-size: 20px;

  &:hover {
    color: fade_out($main-text-color, .2);
  }
}

.menu__feedback-link {
  display: none;
	flex-basis: 100%;
	justify-content: center;
	align-self: flex-end;
	padding: 32px 0;
	color: $primary-text-color;
	font-size: 14px;
	letter-spacing: 1.6px;
	text-transform: uppercase;
	border-top: 1px solid #545B6B;
}

// Mixes

.menu__hamburger {
  display: none;

  @include mq-less-768 {
    display: inline-flex;
  }
}