mixin form(mixes)
    form( class=`form` + ((mixes) ? ` ${mixes}__form` : '') action='', autocomplete='off')
        .form__field
            input#name.form__input(type='text', name='name', placeholder='Паша')
            label.form__label(for='name') Ваше имя
        .form__field
            input#phone.form__input(type='tel', name='phone', placeholder='926-909-96-00')
            label.form__label(for='phone') Номер
            span.form__field-help Номер должен быть 11 цифр
        .form__field-button
            include ../button/button
            +button('Заказать', 'submit', 'form')
            span.form__button-agree
                | Нажимая на кнопку вы подтверждаете, что
                |
                a.form__button-agree-link(href='/terms.html', target='_blank')
                    | согласны с условиями договора аренды