.success {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 320px;
  height: 100%;

  &--show {
    z-index: 10;

    .success__wrapper {
      opacity: 1;
    }
  }
}

.success__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 64px;
  background-color: #232A3C;
  border: 1px solid #545B6B;
  border-radius: 4px;
  opacity: 0;

  @include mq-less-1024 {
    padding: 32px 24px;
  }

  @include mq-less-768 {
    flex-direction: column;
    justify-content: flex-end;
    align-items: normal;
    width: 90%;
    max-width: 400px;
    height: 90%;
    padding: 0 16px 32px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/img/noise.gif');
    opacity: .02;
  }
}

.success__img {
  margin-right: 40px;

  @include mq-less-1024 {
    width: 200px;
    margin-right: 8px;
  }

  @include mq-less-768 {
    align-self: flex-start;
    order: 3;
    width: 220px;
    margin-right: 0;
  }
}

.success__content {
  text-align: center;

  @include mq-less-768 {
    margin-bottom: 0;
  }
}

.success__title {
  margin: 0 0 16px;
  color: $primary-text-color;
  font-weight: 500;
  font-size: 24px;

  @include mq-less-768 {
    text-align: left;
  }
}

.success__text {
  margin: 0 0 16px;
  color: $main-text-color;
  font-size: 16px;

  @include mq-less-768 {
    text-align: right;

    br {
      display: none;
    }
  }
}

.success__emoji-group {

  @include mq-less-768 {
    text-align: right;
  }
}

.success__emoji-icon {

  &:not(:last-child) {
    margin-right: 4px;
  }
}

.success__btn-close {
  position: absolute;
  top: 0;
  right: -48px;
  display: inline-block;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;

  @include mq-less-768 {
    top: 16px;
    right: 16px;
  }

  &:before, &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 40px;
    margin-top: calc(-40px / 2);
    margin-left: calc(-4px / 2);
    background-color: #4E535F;
    border-radius: 4px;
  }

  &:before {
    transform: rotate(-45deg);
  }

  &:after {
    transform: rotate(45deg);
  }

  &:hover {
    opacity: .8;
  }
}