extends ../layout

block content
    include ../../components/menu/menu

    -
        var links = [
            {
                link: '/develop.html',
                title: 'Кейтеринг'
            },
            {
                link: 'https://instagram.com/zelsmoke',
                title: 'Instagram',
                blank: true
            }
        ]

    +menu(links)
    include ../../components/big-header/big-header
    +big-header('по Зеленограду')
    include ../../components/how/how
    include ../../components/faq/faq
    +faq
    include ../../components/order/order
    include ../../components/success/success
    include ../../components/footer/footer
