extends ../layout

block content

  -
    var links = [
      {
        link: '/develop.html',
        title: 'Кейтеринг'
      },
      {
        link: 'https://instagram.com/zelsmoke',
        title: 'Instagram',
        blank: true
      }
    ]

  include ../../components/menu/menu
  +menu(links)
  include ../../components/header/header
  +header('Зеленограду')
  include ../../components/how/how

  include ../../components/faq/faq
  +faq
  include ../../components/order/order

  include ../../components/form/form

  +form('order')

  include ../../components/_modal/terms/terms
  +terms
  include ../../components/_modal/success/success
  +success
  include ../../components/footer/footer
