mixin develop
    section.develop.fullpage
        include ../logo/logo
        +logo('develop')
        .develop__content
            h1.develop__title Страница в разработке
            a.button.develop__button(href='/') На главную
