.terms__list {
  @include centered-width;
  color: $secondary-text-color;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 152px;
  padding-left: 8px;

  @include mq-less-1024 {
    font-size: 16px;
    line-height: 24px;
  }
}

.terms__item {
  padding-left: 16px;

  &:not(:last-child) {
    margin-bottom: 48px;

    @include mq-less-1360 {
      margin-bottom: 40px;
    }

    @include mq-less-768 {
      margin-bottom: 24px;
    }
  }

  ul {
    color: $main-text-color;
    margin-top: 8px;
    margin-left: 24px;

    @include mq-less-1360 {
      margin-left: 16px;
    }

    @include mq-less-768 {
      margin-left: 0;
    }
  }
}

.terms__item-text {
  margin: 0;
  color: $main-text-color;
}