mixin terms
    section.terms
        ol.terms__list
            li.terms__item
                p.terms__item-text Услуга предоставляется только лицам достигшим 18 лет.
            li.terms__item
                p.terms__item-text
                    | Арендодатель обязуется предоставить во временное пользование, а Арендатор принять, оплатить пользование и своевременно возвратить кальян и сопутствующее оборудование в исправном состоянии с учетом нормального износа.
            li.terms__item
                p.terms__item-text
                    | Арендатор не вправе передавать взятый в аренду кальян в пользование третьим лицам.
            li.terms__item
                p.terms__item-text
                    | Кальян и сопутсвующее оборудование предоставляется до 13:00 следующего дня с момента заключения договора аренды.
            li.terms__item
                p.terms__item-text
                    | При возврате кальяна производится проверка комплектности и технический осмотр в присутствии представителя Арендатора. В случае некомплектности, неисправности, уничтожении, либо утере оборудования, Арендатор обязуется возместить полную рыночную стоимость испорченного, утерянного, либо уничтоженного оборудования.
            li.terms__item
                p.terms__item-text
                    | Подписывая договор, Арендатор дает согласие с тем, что рыночная стоимость переданого во временное пользование оборудования составляет:
                ul
                    li – Настолькая электрическая плита 500 руб.
                    li – Кальян 3500 руб.
            li.terms__item
                p.terms__item-text
                    | Подписывая договор, Арендатель подтверждает, что кальян и сопутсвующее оборудование было передано в исправном состоянии.