.form {
  display: flex;
  justify-content: center;

  @include mq-less-1360 {
    flex-wrap: wrap;
    width: 536px;
  }

  @include mq-less-768 {
    width: 100%;
  }
}

.form__field {
  position: relative;
  display: flex;
  flex-flow: column-reverse;

  &--error {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  }

  &:nth-child(1) {
    margin-right: 40px;

    @include mq-less-768 {
      margin-right: 0;
      margin-bottom: 32px;
    }
  }

  &:nth-child(2) {
    margin-right: 48px;

    @include mq-less-1360 {
      margin-right: 0;
    }
  }

  @include mq-less-768 {
    flex-basis: 100%;
  }
}

.form__label, .form__input {
  touch-action: manipulation;
}

@-webkit-keyframes autofill {
  to {
    color: #666;
    background: transparent;
  }
}

.form__input {
  width: 240px;
  padding: 0 0 8px 8px;
  color: $main-text-color;
  font-size: 24px;
  background: none;
  border: 0;
  border-bottom: 1px solid #545B6B;
  border-radius: 0;
  cursor: text;
  -webkit-appearance: none;

  @include mq-less-768 {
    width: 100%;
  }

  &:focus {
    border-bottom: 1px solid #767D8C;
    outline: 0;
  }

  &:placeholder-shown + .form__label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transform-origin: left top;
    cursor: text;
  }

  &:focus::-webkit-input-placeholder {
    opacity: 1;
  }

  &:not(:placeholder-shown) + .form__label,
  &:focus + .form__label {
    color: $secondary-text-color;
    font-size: 16px;
    transform: translate(0, -32px);
  }

  &:not(:placeholder-shown) + .form__label {
    padding-left: 0;
  }
}

.form__label {
  position: absolute;
  padding-bottom: 8px;
  padding-left: 8px;
  color: $main-text-color;
  font-size: 24px;
}

::placeholder {
  color: $secondary-text-color;
}

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

.form__field-button {
  position: relative;

  @include mq-less-1360 {
    flex-basis: 100%;
    margin-top: 32px;
  }

  @include mq-less-768 {
    margin-top: 40px;
  }
}

.form__agree-text {
  position: absolute;
  bottom: -16px;
  left: 0;
  width: 375px;
  color: $secondary-text-color;
  font-size: 16px;
  letter-spacing: normal;
  text-align: left;
  text-transform: none;
  transform: translateY(100%);

  @include mq-less-768 {
    width: 100%;
  }
}

.form__agree-btn {
  color: $main-text-color;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: fade_out($main-text-color, .2);
  }
}

.form__field-help {
  position: absolute;
  bottom: -24px;
  left: 8px;
  color: $primary-text-color;
  font-size: 14px;
  opacity: 0;

  &--show {
    opacity: 1;
  }
}

// Mixes

.button.form__button {

  &--loading {
    color: fade_out($primary-text-color, 1);
  }
}

// Keyframes

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}