extends ../layout

block seo
    meta(name='description', content='Доставляем кальяны на дом по Москве')
    meta(name='keywords', content='Доставка кальяна на дом Москва')

block title
    title Доставка кальяна на дом по Москве от zelsmoke

block content
    include ../../components/menu/menu

    -
        var links = [
        {
        link: '/develop.html',
        title: 'Кейтеринг'
        },{
        link: 'https://instagram.com/zelsmoke',
        title: 'Instagram',
        blank: true
        }
        ]

    +menu(links)
    include ../../components/header/header
    +header('по СВАО, ЦАО и ЮЗАО')
    include ../../components/how/how
    include ../../components/faq/faq
    +faq
    include ../../components/_React/Order/Order
    include ../../components/terms/terms
    +terms
    include ../../components/success/success
    include ../../components/footer/footer