footer.footer
    p.footer__app
        | © zelsmoke app 2019.
        br
        | All rights reserved.
    p.footer__contact
        | Предложите что-нибудь,
        br
        | или просто скажите привет.
        a.footer__contact-link(href='mailto:hello@zelsmoke.ru') Связаться с нами
