-
    var content = `
        <div class="terms">
            <ol class="terms__list">
                <li class="terms__item">
                    <p class="terms__item-text">Услуга предоставляется лицам достигшим 18 лет.</p>
                </li>
                <li class="terms__item">
                    <p class="terms__item-text">Арендодатель обязуется предоставить во временное пользование, а Арендатор принять, оплатить пользование и своевременно возвратить кальян и сопутствующее оборудование в исправном состоянии с учетом нормального износа.</p>
                </li>
                <li class="terms__item">
                    <p class="terms__item-text">Кальян и сопутствующее оборудование предоставляется до 13:00 следующего дня с момента заключения договора.</p>
                </li>
                <li class="terms__item">
                    <p class="terms__item-text">Арендатор не вправе передавать взятый в аренду кальян и сопутствующее оборудование в пользование третьим лицам.</p>
                </li>
                <li class="terms__item">
                    <p class="terms__item-text">При возврате кальяна производится проверка комплектности и технический осмотр в присутствии представителя Арендатора. В случае некомплектности, неисправности, уничтожении, либо утере оборудования, Арендатор обязуется возместить полную рыночную стоимость испорченного, утраченного, либо уничтоженного оборудования.</p>
                </li>
                <li class="terms__item">
                    <p class="terms__item-text">Подписывая договор, Арендатор дает согласие с тем, что рыночная стоимость переданного во временное пользование оборудования составляет:</p>
                    <ul>
                        <li>– Кальян 4200 руб.</li>
                        <li>– Настольная электрическая плита 500 руб.</li>
                        <li>– Калауд 500 руб.</li>
                    </ul>
                </li>
                <li class="terms__item">
                    <p class="terms__item-text">Подписывая договор, Арендатор подтверждает, что кальян и сопутствующее оборудование было передано в исправном состоянии.</p>
                </li>
            </ol>
        </div>
    `

mixin terms
    include ../modal/modal
    +modal('Условия аренды', content, 'terms', 'Закрыть')
