.button {
  position: relative;
  display: inline-block;
  padding: 16px 32px;
  color: $primary-text-color;
  font-size: 20px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  background-color: #32846B;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: fade_out(#32846B, .2);
  }

  @include mq-less-768 {
    width: 100%;
  }
}

.button__spinner {
  position: absolute;
  left: calc(50% - 12px);
  opacity: 0;
  animation: spin 1.5s infinite linear;

  &--active {
    opacity: 1;
  }
}