.how {
  @include centered-width;
  margin-bottom: 80px;
  background: url(~@/components/how/img/hookah.svg) no-repeat bottom center;
  border-bottom: 1px solid #545b6b;

  @include mq-less-1360 {
    background-size: 768px 768px;
  }

  @include mq-less-1024 {
    background-size: 560px 560px;
  }

  @include mq-less-768 {
    margin-bottom: 64px;
    background-size: 240px 240px;
  }
}

.how__title {
  margin: 80px 0 40px;
  color: $main-text-color;
  font-size: 48px;
  letter-spacing: 3.6px;

  @include mq-less-768 {
    margin-top: 64px;
    margin-bottom: 32px;
    font-size: 24px;
    letter-spacing: 2.6px;
  }
}

.how__steps {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;

  @include mq-less-768 {
    margin-bottom: 64px;
  }
}

.how__step {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 32px;

    @include mq-less-1024 {
      margin-bottom: 64px;
    }

    @include mq-less-768 {
      margin-bottom: 16px;
    }
  }

  &:nth-child(odd) {
    .how__num {
      width: 151px;

      @include mq-less-1360 {
        width: 114px;
      }

      @include mq-less-1024 {
        width: 0;
      }
    }

    .how__step-content {
      width: 409px;
      margin-left: 32px;

      @include mq-less-1360 {
        width: 310px;
        margin-left: 24px;
      }

      @include mq-less-1024 {
        width: 320px;
        margin-left: 0;
      }

      @include mq-less-768 {
        order: 2;
        width: 272px;
      }
    }

    .how__step-arrow {
      margin-right: 278px;
      margin-left: auto;
      transform: scale(-1, 1);

      @include mq-less-1360 {
        margin-right: 230px;
      }

      @include mq-less-1024 {
        margin-right: 80px;
      }

      @include mq-less-768 {
        order: 1;
        margin-right: 0;
        transform: scale(-1, 1) rotate(38deg);
      }
    }
  }

  &:nth-child(even) {
    .how__num {
      width: 166px;
      text-align: right;

      @include mq-less-1360 {
        width: 126px;
      }

      @include mq-less-1024 {
        width: 0;
      }
    }

    .how__step-content {
      width: 394px;
      margin-right: 32px;
      text-align: right;

      @include mq-less-1360 {
        width: 298px;
        margin-right: 24px;
      }

      @include mq-less-1024 {
        width: 320px;
        margin-right: 0;
      }

      @include mq-less-768 {
        width: 272px;
      }
    }

    .how__step-arrow {
      margin-right: auto;
      margin-left: 263px;

      @include mq-less-1360 {
        margin-left: 218px;
      }

      @include mq-less-1024 {
        margin-left: 80px;
      }

      @include mq-less-768 {
        margin-left: 0;
        transform: rotate(38deg);
      }
    }
  }
}

.how__step-arrow {
  align-self: flex-start;
  margin-top: 8px;

  @include mq-less-1024 {
    margin-top: -24px;
  }

  @include mq-less-768 {
    width: 80px;
    margin-top: 0;
    margin-bottom: 8px;
  }
}

.how__num {
  position: relative;
  color: rgba(255, 255, 255, 0.06);
  font-weight: 900;
  font-size: 160px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
  letter-spacing: 2.6px;

  @include mq-less-1360 {
    font-size: 120px;
  }

  @include mq-less-1024 {
    display: none;
  }
}

.how__step-title {
  margin: 0 0 16px;
  color: $primary-text-color;
  font-weight: 500;
  font-size: 24px;

  @include mq-less-768 {
    margin-bottom: 8px;
    font-size: 20px;
  }
}

.how__step-text {
  margin: 0;
  color: $main-text-color;
  font-size: 18px;

  @include mq-less-768 {
    font-size: 16px;
  }
}
