section.how
    h3.how__title Как это работает
    .how__steps
        .how__step
            span.how__num 1.
            .how__step-content
                h5.how__step-title Вы заказываете
                p.how__step-text Выбираете и заказываете
        .how__step
            include img/how__step-arrow.svg
            .how__step-content
                h5.how__step-title Мы готовим чашу и доставляем
                p.how__step-text Доставка в течение часа
            span.how__num 2.
        .how__step
            span.how__num 3.
            .how__step-content
                h5.how__step-title Раскуриваем у вас дома
                p.how__step-text Разжигаем угли на настольной плите, раскуриваем кальян
            include img/how__step-arrow.svg
        .how__step
            include img/how__step-arrow.svg
            .how__step-content
                h5.how__step-title Подписываем договор
                p.how__step-text
                    | При себе вам нужно иметь паспорт
            span.how__num.how__num-last 4.
        .how__step
            span.how__num.how__num-last 5.
            .how__step-content
                h5.how__step-title Забираем
                p.how__step-text На следующее утро, время обсуждается индивидуально
            include img/how__step-arrow.svg