section.how
    h3.how__title Как это работает
    .how__steps
        .how__step
            span.how__num 1.
            .how__step-content
                h5.how__step-title Вы заказываете
                p.how__step-text Выбираете и заказываете
        .how__step
            svg.how__step-arrow(width='143px', height='81px', viewBox='0 0 143 81', version='1.1', xmlns='http://www.w3.org/2000/svg')
                g#screens(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', stroke-linecap='round')
                    g#Screen-1920(transform='translate(-622.000000, -1401.000000)', fill-rule='nonzero', stroke='#32846B', stroke-width='2')
                        g#how-it-works(transform='translate(352.000000, 1105.000000)')
                            g#steps(transform='translate(0.000000, 97.000000)')
                                g#arrow(transform='translate(263.000000, 200.000000)')
                                    path#Line(d='M-3.56906075,49.7894023 C19.3803711,38.7894023 42.7137045,33.2894023 66.4309392,33.2894023 C90.148174,33.2894023 114.148174,38.7894023 138.430939,49.7894023', stroke-dasharray='8,11', transform='translate(67.430939, 41.539402) scale(1, -1) rotate(-28.000000) translate(-67.430939, -41.539402) ')
                                    path#Path-2(d='M133,55 L148.893333,66.92 C148.937516,66.9531371 148.94647,67.0158172 148.913333,67.06 C148.907648,67.0675806 148.900914,67.0743146 148.893333,67.08 L133,79')
            .how__step-content
                h5.how__step-title Мы доставляем
                p.how__step-text В течение 40 минут
            span.how__num 2.
        .how__step
            span.how__num 3.
            .how__step-content
                h5.how__step-title Готовим у вас дома
                p.how__step-text Вы также можете приготовить кальян самостоятельно
            svg.how__step-arrow(width='143px', height='81px', viewBox='0 0 143 81', version='1.1', xmlns='http://www.w3.org/2000/svg')
                g#screens(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', stroke-linecap='round')
                    g#Screen-1920(transform='translate(-622.000000, -1401.000000)', fill-rule='nonzero', stroke='#32846B', stroke-width='2')
                        g#how-it-works(transform='translate(352.000000, 1105.000000)')
                            g#steps(transform='translate(0.000000, 97.000000)')
                                g#arrow(transform='translate(263.000000, 200.000000)')
                                    path#Line(d='M-3.56906075,49.7894023 C19.3803711,38.7894023 42.7137045,33.2894023 66.4309392,33.2894023 C90.148174,33.2894023 114.148174,38.7894023 138.430939,49.7894023', stroke-dasharray='8,11', transform='translate(67.430939, 41.539402) scale(1, -1) rotate(-28.000000) translate(-67.430939, -41.539402) ')
                                    path#Path-2(d='M133,55 L148.893333,66.92 C148.937516,66.9531371 148.94647,67.0158172 148.913333,67.06 C148.907648,67.0675806 148.900914,67.0743146 148.893333,67.08 L133,79')
        .how__step
            svg.how__step-arrow(width='143px', height='81px', viewBox='0 0 143 81', version='1.1', xmlns='http://www.w3.org/2000/svg')
                g#screens(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', stroke-linecap='round')
                    g#Screen-1920(transform='translate(-622.000000, -1401.000000)', fill-rule='nonzero', stroke='#32846B', stroke-width='2')
                        g#how-it-works(transform='translate(352.000000, 1105.000000)')
                            g#steps(transform='translate(0.000000, 97.000000)')
                                g#arrow(transform='translate(263.000000, 200.000000)')
                                    path#Line(d='M-3.56906075,49.7894023 C19.3803711,38.7894023 42.7137045,33.2894023 66.4309392,33.2894023 C90.148174,33.2894023 114.148174,38.7894023 138.430939,49.7894023', stroke-dasharray='8,11', transform='translate(67.430939, 41.539402) scale(1, -1) rotate(-28.000000) translate(-67.430939, -41.539402) ')
                                    path#Path-2(d='M133,55 L148.893333,66.92 C148.937516,66.9531371 148.94647,67.0158172 148.913333,67.06 C148.907648,67.0675806 148.900914,67.0743146 148.893333,67.08 L133,79')
            .how__step-content
                h5.how__step-title Подписываем договор
                p.how__step-text
                    | При себе вам нужно иметь паспорт
            span.how__num.how__num-last 4.
        .how__step
            span.how__num.how__num-last 5.
            .how__step-content
                h5.how__step-title Забираем
                p.how__step-text На следующее утро, время обсуждается индивидуально
            svg.how__step-arrow(width='143px', height='81px', viewBox='0 0 143 81', version='1.1', xmlns='http://www.w3.org/2000/svg')
                g#screens(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', stroke-linecap='round')
                    g#Screen-1920(transform='translate(-622.000000, -1401.000000)', fill-rule='nonzero', stroke='#32846B', stroke-width='2')
                        g#how-it-works(transform='translate(352.000000, 1105.000000)')
                            g#steps(transform='translate(0.000000, 97.000000)')
                                g#arrow(transform='translate(263.000000, 200.000000)')
                                    path#Line(d='M-3.56906075,49.7894023 C19.3803711,38.7894023 42.7137045,33.2894023 66.4309392,33.2894023 C90.148174,33.2894023 114.148174,38.7894023 138.430939,49.7894023', stroke-dasharray='8,11', transform='translate(67.430939, 41.539402) scale(1, -1) rotate(-28.000000) translate(-67.430939, -41.539402) ')
                                    path#Path-2(d='M133,55 L148.893333,66.92 C148.937516,66.9531371 148.94647,67.0158172 148.913333,67.06 C148.907648,67.0675806 148.900914,67.0743146 148.893333,67.08 L133,79')